@{
    ViewData["Title"] = "Home Page";
}

<header class="py-5 bg-image-full" style="        background-image: url('@Url.Content("~/imagenes/fondo2.jpg")');background-position: center;background-repeat: no-repeat;background-size: cover; ">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="@Url.Content("~/imagenes/logo.png")" width="150" height="150" />
        <h1 class="text-black-50 fs-3 fw-bolder">Una solucion a tus necesidades</h1>
        <p class="text-white-50 mb-0"></p>
    </div>
</header>
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Vision</h2>
                <p class="lead" style="text-align:justify">“Ofrecer a nuestros instructores una plataforma de gestión de laboratorio eficiente, 
                con la ayuda de una galería fotográfica de una forma interactiva pudiendo conocer la geolocalización de 
                los salones a nivel de un mapa ilustrativo".</p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="        background-image: url('@Url.Content("~/imagenes/grupo.jpg")');background-position: center;background-repeat: no-repeat;background-size: cover;">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Nuestro Equipo</h2>
                <p class="lead">Esta integrado por 4 personas.</p>
                <p class="mb-0" style="text-align:justify">Somo un equipo de alumnos de la materia de tecnologia orientada a objeto
                en proceso de aprendiza de las diferentes tecnologia aplicando los conocimiento que cada 
                uno tiene a lo largo del la carrera.</p>
            </div>
        </div>
    </div>
</section>

