@model Usuario2
@{
    ViewData["Title"] = "Registro";

}

<form asp-controller="Registro" asp-action="Registro" method="post">


    <div>
        <label asp-for="IdUsuario"></label>
        <input asp-for="IdUsuario" placeholder="id" />
    </div>
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" placeholder="Nombre" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" placeholder="Email" />
    </div>
    <div>
        <label asp-for="Pasword"></label>
        <input asp-for="Pasword" placeholder="pasword" />
    </div>
    <div>
        <button type="submit">agregar</button>
    </div>

</form>