@model proyecto_too.Models.Reserva

@{
    ViewData["Title"] = "Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reserva</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reserva">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoDeReserva" class="control-label"></label>
                <input asp-for="CodigoDeReserva" class="form-control" />
                <span asp-validation-for="CodigoDeReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dui" class="control-label"></label>
                <select asp-for="Dui" class ="form-control" asp-items="ViewBag.Dui"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaAceptada" class="control-label"></label>
                <input asp-for="FechaAceptada" class="form-control" />
                <span asp-validation-for="FechaAceptada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

